@page "/categoria/{CategoriaId:int}"
@page "/categoria/{CategoriaId:int}/{Nombre}"

<h6>Ver informacion de una categoría en específico</h6>
@code
{
    [Parameter] public int CategoriaId {get;set;}
    [Parameter] public string Nombre {get;set;}
    protected override void OnInitialized()
    {
        Console.WriteLine($"El id de la categoría es {CategoriaId} y el nombre {Nombre}");
    }
}