@page "/pelicula/{PeliculaId:int}"
@page "/pelicula/{PeliculaId:int}/{Nombre}"

<h6>Ver información de una pelicula en especifico</h6>
@code
{
    [Parameter] public int PeliculaId {get;set;}
    [Parameter] public string Nombre {get;set;}
    protected override void OnInitialized()
    {
        Console.WriteLine($"El id de la pelicula es {PeliculaId} y el nombre {Nombre}");
    }
}